@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* * { 
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
/* 공통 부분 */
body{
    font-family: 'Pretendard';
    font-size: 16px;
    height:100%;
    color:#444;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1;
}
*{
    margin:0;
    padding:0;
}
/*
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-size: inherit;
}
*/
ul, ol, li{
    list-style: none;
}
a{text-decoration: none;}
a:link, a:visited, a:hover, a:focus{
    color:#444;
}
.clear::after{
    content:"";
    display:block;
    clear:both;
}
img{
    border:none;
    vertical-align: middle;
}
.hdd, legend{
    font-size: 0; width:0; height:0; line-height: 0;
    text-indent: -9999px; overflow: hidden; visibility: hidden;
    position: absolute; top:0; left:0;
}
.box_inner{
    width:1050px;
    margin:0 auto;
}
input, select, textarea, button, form, label{ vertical-align: middle; }
fieldset{ border:none; }
input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="email"]{
    box-sizing: border-box;
    display: inline-block;
    height:45px;
    padding:0 10px;
    border: 1px solid #ccc;
    line-height: normal;
    font-size: 15px;
}
textarea{
    box-sizing: border-box;
    padding:10px;
    border:1px solid #ccc;
    font-size: 15px;
}
input[type="radio"].css-radio{
    overflow: hidden;
    position: absolute;
    left:-1000px;
    width:1px;
    height:1px;
}
input[type="radio"].css-radio + label{
    display: inline-block;
    padding-left:20px !important;
    margin-right:20px;
    background:url("../images/bg_radio.png") no-repeat 0 0;
    cursor:pointer;
    vertical-align: middle;
    font-size: 15px;
    line-height: 16px;
}
input[type="radio"].css-radio:checked + label{
    background-position: 0 -50px;
}
input[type="checkbox"].css-checkbox{
    overflow:hidden;
    position: absolute;
    left:-1000px;
    width:1px;
    height:1px;
}
input[type="checkbox"].css-checkbox + label{
    display:inline-block;
    padding-left:30px !important;
    height:20px;
    line-height: 20px;
    background: url("../images/bg_checkbox.png") no-repeat 0 0;
    background-size: 20px;
    cursor:pointer;
    vertical-align: middle;
    font-size: 15px;
}
input[type="checkbox"].css-checkbox:checked + label{
    background-position: 0 -20px;
}
select{
    -webkit-appearance: none;
    height:30px;
    padding:0 5px;
    border:1px solid #ccc;
}
.select_common{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width:158px;
    height:35px;
    border:1px solid #ccc;
    overflow: hidden;
    background:url("../images/ico_selectArr.png") no-repeat 100% 50%;
}
.select_common select{
    display:inline-block;
    width:185px;
    background:none;
    height:29px;
    padding:0 10px;
    border:none;
    font-size: 15px;
}
.btn_line{
    text-align: center;
    font-size: 0;
}
.btn_line a{ margin-left: 10px; }
.btn_line a:first-child{ margin-left:0; }
.btn_basecolor{
    display: inline-block;
    border:1px solid #ccc;
    text-align: center;
    font-size: 20px;
    width:125px;
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    background:#384d75;
    color:#fff !important;
}
.btn_srch{
    display: inline-block;
    background:#384d75;
    color:#fff !important;
    text-align: center;
    width:70px;
    height:35px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 35px;
}
.btn_bbs{
    font-size: 14px;
    display: inline-block;
    background:#384d75;
    color:#fff !important;
    width:70px;
    text-align: center;
    line-height:35px;
    height:35px;
    vertical-align: middle;
}


input::-webkit-input-placeholder{color:#999;}
textarea::-webkit-input-placeholder{color:#999;}
table, thead, tbody, tfoot{ border-collapse: collapse; border-spacing: 0; border:none; }

/* -------------------메인 페이지 (index.html) 시작------------------- */
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:95px;
    background:white;
    z-index: 100;
    border-bottom: 1px solid lightgray;
}
header > .header_area > h1 {
    float:left;
    padding:45px 0 0;
}
header > .header_area > h1 > a{
    display:block;
    width:270px;
    height:71px;
    font-size : 28px;
    color : black;
}
.header_cont{
    float:right;
    width:780px;
}
.header_cont .util{
    text-align: right;
    padding-top:15px;
}
.header_cont .util li{ display:inline; }
.header_cont .util li:first-child::after{
    content:"|";
    display:inline-block;
    padding:0 10px;
    font-size: 10px;
    color:black;
    position: relative;
    top:-2px;
}
.header_cont .util li:nth-child(2)::after{
    content:"|";
    display:inline-block;
    padding:0 10px;
    font-size: 10px;
    color:black;
    position: relative;
    top:-2px;
}
.header_cont .util li:nth-child(3)::after{
    content:"|";
    display:inline-block;
    padding:0 10px;
    font-size: 10px;
    color:black;
    position: relative;
    top:-2px;
}
.header_cont .util li a{ font-size: 14px; color:black; }

.header_cont .gnb {
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 100px;
}
.header_cont .gnb li{ float:left; }
.header_cont .gnb li a{ display: block; padding:15px 30px 15px; font-size: 22px; color:black; }
.header_cont .gnb li:last-child a{ padding-right: 30px; }
.header_cont .gnb li:last-child { float:right; }

#container{ padding-bottom: 70px; }

/* footer */
footer { border-top: 1px solid #ddd; }
footer > .foot_area { position: relative; padding-bottom: 40px; }
footer > .foot_area > .foot_list { padding-top: 25px; }

footer > .foot_area > .foot_list > li { float:left; }
footer > .foot_area > .foot_list li:first-child::after {
    content:"|";
    display: inline-block;
    padding: 0 10px;
    font-size: 10px;
    color:#000;
    position: relative;
    top:-2px;
}
footer > .foot_area > .foot_list > li > a{ 
    font-weight: bold;
    font-size: 15px;
}
footer > .foot_area > h2 {
    padding-top: 25px;
    font-size: 14px;
    color:#666;
}
footer > .foot_area > .addr{
    padding-top: 5px;
    line-height: 1.4;
    font-size: 13px;
    color:#666;
}
footer > .foot_area > .addr .space0{
    letter-spacing: 0;
}
/* Copyright 스타일링 */
footer > .foot_area > .copy{
    padding-top: 3px;
    font-size: 13px;
    color:#666;
    letter-spacing: 0;
}




