.infoWrap {width:80%; height: 300px; margin:0 auto; position:relative;}
.infoWrap .subtitle{position: relative; width:100%; height: 20px; margin-bottom:15px; border-bottom: 2px solid black; text-align:left; font-size:26px; color:#3d393d; line-height:1.2; font-weight:600; letter-spacing:-2px; padding:10px 0 20px 0; }
.infoWrap #info{text-align: left; font-size:18px; color:#595458; line-height:120%; padding:10px 0 0 0;}

.mapWrap {width:80%; height: 600px; margin:0 auto; position:relative;}
.mapWrap:after {content:""; display:block; clear:both; *zoom:1;}
.mapWrap #map {width: 100%; height: 250px; position:relative; padding-top : 100px;}