
.title h2{position: relative; width:100%; height: 50px; margin-top: 160px; text-align:center; font-size:40px; color:#3d393d; line-height:1.2; font-weight:600; letter-spacing:-2px; padding:30px 0 20px 0;}
main {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.contents{
 margin: 0 auto;
 width : 80%;
}
.contents .subject {
padding-bottom : 40px;
}
.contents .subject #subject{
 height : 40px;
}
.contents #subject{
 width : 100%;
}
.contents .content{
 height : 500px;
}
.contents .content #content{
 width : 100%;
 height : 500px;
 padding : 30px 30px 30px 30px;
}
.contents .button{
padding-top : 20px;
padding-bottom : 40px;
text-align : center;
}
.contents .button .write{
 background-color: gray;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}
.contents .button .write:hover{
    background-color: DimGray;
}
/*공지사항 목록*/
.notice_list{
 padding-bottom: 50px;
 width : 100%;
}
#table_menu {
  position: relative;
  margin-top: 150px;
  width: 100%;
}
#table_menu th {
  text-decoration: none;
  font-size: 22px;
  border-bottom : 2px solid gray;
}
#table_menu th:first-child  {
  width : 80px;
}
#table_menu th:last-child  {
  width : 250px;
  height : 60px;
}
#table_menu tr {
  border-bottom : 1px solid gray;
}
#table_menu td {
  height : 40px;
  text-align : center;
}
#table_menu a:visited {
  color: #000;
}
#page_menu {
  margin-top: 3%;
  padding-bottom: 30px;
}
/*공지사항 view*/
.contents_read{
 margin: 0 auto;
 width : 80%;
 padding-bottom : 150px;
}
.contents_read .subject {

padding-bottom : 40px;
}
.contents_read .subject #subject{
 font-size : 22px;
 height : 40px;
 line-height : center;
 display : inline;
}
.contents_read .subject #regDate{
 font-size : 16px;
 width : 25%;
 float : right;
 display : inline;
}

.contents_read .content{
 height : 500px;
 background-color : WhiteSmoke;
}
.contents_read .content #content{
 width : 100%;
 height : 500px;
 padding : 30px 30px 30px 30px;
}
.contents_read .button{
padding-top : 20px;
padding-bottom : 40px;
text-align : center;
}
.contents_read .button .butt{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.contents_read .button .butt:hover{
    background-color: DimGray;
}

.contents_read .button{
padding-top : 20px;
padding-bottom : 40px;
text-align : center;
}

/*공지사항 수정*/
.contents_update{
 margin: 0 auto;
 width : 80%;
}
.contents_update .subject {
padding-bottom : 40px;
}
.contents_update .subject #subject{
 height : 40px;
}
.contents_update #subject{
 width : 100%;
}
.contents_update .content{
 height : 500px;
}
.contents_update .content #content{
 width : 100%;
 height : 500px;
  padding : 30px 30px 30px 30px;
}
.contents_update .button{
padding-top : 20px;
padding-bottom : 40px;
text-align : center;
}
.contents_update .button .butt{
 background-color: gray;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}
.contents_update .button .butt:hover{
    background-color: DimGray;
}