@charset "UTF-8";

#wrap{
    width: 100%;
    height: 100%;
}

.room_img{
    width: 800px;
    height: 200px;
} 

.room_img > img{
    width: 350px;
    height: 200px;
    margin-top: 180px;
    margin-left: 400px;
    margin-bottom: 50px;
    object-fit: cover;
}

#room_name > h2{
    width: 500px;
    height: 25px;
    margin-left: 800px;
}

#room_name > p{
    width: 500px;
    height: 25px;
    margin-top: 50px;
    margin-left: 800px;
}

