@charset "UTF-8";


.room_img{
    width: 800px;
    height: 200px;
}

.img{
    width: 350px;
    height: 200px;
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 50px;
    object-fit: cover;
}

.room_img > img{
    width: 350px;
    height: 200px;
    margin-top: 120px;
    margin-left: 200px;
    margin-bottom: 50px;
    object-fit: cover;
}

#room_name{
	margin-bottom: 100px;
}

#room_name > h2{
    width: 500px;
    height: 25px;
    margin-left: 600px;
}

#room_name > p{
    width: 500px;
    height: 25px;
    margin-top: 50px;
    margin-left: 600px;
}

